{{! Template for displaying an error message }}
{{! This template is used to show an error message when the user inputs invalid data }}
{{! The message is passed from the server to the template }}
{{! The message is displayed in a paragraph element }}
{{! A link is provided to allow the user to return to the main page }}
<h1>Error</h1>
<p>{{ message }}</p>
<a href="/">Try Again</a>
