/*Set body background color*/
body {
    background-color: rgb(147, 185, 241);
}

/*Set header class font-family to merienda*/
.header {
    font-family: "Merienda", serif;
}

#m-3 {
    margin: 3px;
}